<html>
    <head>
        <title>Genochka blog</title> 
    </head>
    <body>
        <div>
            <h1><center> This is Videoblog!</center></h1>
            <p> I've worked hard on it. But here I am, still studying Python
                and HTML now and what can I say? That damn thing works! My blog is about 
                me becoming a professional developer and rich successful man and about my
                lifechange after all that. It's also about my life, about what things
                I can afford, doing this job, what car I'm going to drive when I get hired. 
                And also about how I can get back on track with my music and become a 
                Rock Star, doing this job as my support in the beginning! If you are still
                here with me, I'm glad, my name is <a href='https://www.instagram.com/let_me_vomit/'>Gennady</a>,
                 nice to meet you!
            
            </p>
        </div>
        </div>
            <h2><center> What's up?</center></h2>
            <p>
                Everything about what's going on in my life is going to be posted
                in little topics that this main page has links too. You can also
                follow my instagram clicking on my name above to be up to date about
                my music life. Check out my bands by the way, if you like Rock, you
                might find them entertaining: <a href='https://www.instagram.com/chernobears.music/'>Chernobears</a>,
                <a href='https://www.instagram.com/holydirtmusic/'>Holy Dirt</a>
            </p>
        <div>
            <h3>Dear Diary, </h3>
            <p>
                <em>For now I'm living with my asshole roommate in the place that 
                    feels less and less like home these days, but everything is
                    going to change and become what I want it to be soon 12.12.2021
                </em>
            </p>
        </div>
        <div>
            {% for post in posts %}
                <div>
                    <h1><hr><a href="">{{post.title}} </a></h1>
                    <p> {{post.text|linebreaksbr}} </p>
                </div>
                <div>
                    <p><em> posted by: <b>{{post.author}}</b> on {{post.published_date}} </em></p>
                </div>
                
                
                
            {% endfor %}
        </div>
    </body>

</html>